* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
}
.title {
    margin-top: 10%;
    font-size: 400%; 
}
.subtitle {
    font-size: 110%;
    margin-bottom: 5%; 
}
.signup-info {
    font-size: 16px;
    margin-bottom: 20px;
}
form {
    display: block;
    margin-bottom: 40px;
    text-align: center;
}
.email-input {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 20px auto; 
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.text-input {
    display: block;
    width: 20%;
    padding: 10px;
    margin: 10px auto; 
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0;
}
.submit-button {
    display: block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto; /
}
.about-us {
    font-size: 14px;
    margin-top: 40px;
}
@media only screen and (max-width: 600px) {
    .email-input {
        width: 80%;
    }
}

.flash {
    padding: 20px;
    margin: 20px;
  }
  
  .flash.error {
    background-color: #ffa7ae;
    color: #a02a36;
  }
  
  .flash.success {
    background-color: #96faad;
    color: #1c7530;
  }