<!DOCTYPE html>
<html>
<head>
    <title>Session Page</title>
    <script>
        function checkStatus(sessionId, verified) {
            fetch(`/status/${sessionId}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Status response:", data); 
                    
                    if (data.status === "finished") {
                        console.log("verified: ", data.verified)
                        if (data.verified) {
                            window.location.href = `/success/${sessionId}`;
                        } else {
                            window.location.href = `/oops/${sessionId}`;
                            //document.getElementById("message").innerText = data.message_body;
                        }
                    } else {
                        setTimeout(() => checkStatus(sessionId), 2000);
                    }
                });
        }
        window.onload = function() {
            const sessionId = "{{ session_id }}";
            checkStatus(sessionId);
        }
    </script>
</head>
<body>
    <h1>Welcome to the Session Page</h1>
    <p>Email: {{ email }}</p>
    <p>Session ID: {{ session_id }}</p>
    <p>Object: {{ obj }}</p>
    <p>Message: <span id="message">{{ message_body or 'Waiting for message...' }}</span></p>
</body>
</html>
