
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Yuva on Matrix</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <body>

    <h1 class="title">Join yuva on [matrix],
        <span> its secure, open source, decentralised technology to reclaim the digital space.</span>
      </h1>
    <p class="signup-info">Register now by requesting a sighnup link through your uva e-mail</p>
    <form action="/submit_email/{{ session_id }}" method="post">
  
        <input type="email" id="email" name="email" class="email-input" placeholder="Enter your uva email address">
        <button type="submit">Register</button>
    </form>
    <p class="about-us">Why move to matrix? This is a student movement, we want a communication platform for the students.
        We made sure to make this as anonymous as possible. 
    </p>
</body>
</html>
